nav{
    padding: 20px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    align-items: start;
    justify-items: center;
}
.grid img {
    border: 1px solid burlywood;
    border-radius: 10px;
    border-width: 2px;
    max-width: 100%;
    align-self:stretch;
    
}
.grid img:nth-child(2) {
    grid-column: span 3;
    grid-row: span 2;
}
.grid img:nth-child(11){
    grid-column: span 2;
}
.grid img:nth-child(13){
    grid-column: span 2;
}
footer{
    padding: 6px;
    margin-top: 10px;
    background-color: antiquewhite;
    text-align: end;
}
